/LemmingsGame/proj.win32/.vs
/LemmingsGame/proj.win32/bin
/LemmingsGame/proj.win32/Debug
/LemmingsGame/proj.win32/engine/cocos/core/cocos2d.dir/Debug
/LemmingsGame/proj.win32/LemmingsGame.dir/Debug
/LemmingsGame/proj.win32/lib/Debug
/LemmingsGame/proj.win32/Win32/Debug
